@tailwind base;
@tailwind components;
@tailwind utilities;

/* pequenas customizações */
body {
  background: #f7fff8;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
