.form {
    @apply max-w-2xl mx-auto space-y-4
}

.formLabel {
    @apply block text-gray-700 mb-1;
}

.formInput {
    @apply w-full px-4 py-2 bg-white border border-gray-300 rounded text-gray-900 focus:outline-none focus:border-blue-500
}

.botoes {
    @apply flex gap-4 pt-4
}

.salvar {
    @apply bg-blue-500 text-white px-4 py-2 rounded
}

.cancelar {
    @apply px-6 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300
}