.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  margin-bottom: 10px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  cursor: pointer;
}

.scoreboard {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
}
p{font-size:2rem;}
